<!DOCTYPE html>
<html>
     <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     </head>
     <body>
          <p>
              Hi <%= @finder.name %>,<br/><br/>
              The item you found: <%= @item["title"] %><br/><br/>
              ... may be <%= @seeker.name %>'s lost item:
              &nbsp;&nbsp;&nbsp;&nbsp;
              <ul>
                <li>Date lost: <%= @item["date"] %></li>
                <li>Time lost: <%= @item["time"] %></li>
                <li>Place lost: <%= @item["place"] %></li>
                <li>Extra info: <%= @item["extra_info"] %></li>
              </ul>
              This is <%= @seeker.name %>'s answer to your secret question:<br/><br/>
              Question:<br/>
              <%= @item["secret"] %><br/><br/>
              Answer:<br/>
              <%= @answer %><br/><br/>
              Please reply to <%= @seeker.email %> if you think it's their item.<br/><br/><br/>
              Thanks for trying to make someone's life a little better,<br/><br/>
              Team Oomerang<br/><br/>
              <hr>
              Item returned? Please delete it from your Oomerang dashboard.<br/><br/>

              Lost it? Found it? <a href="http://www.oomerang.it">Oomerang.it</a>!<br/>
          </p>
     </body>
</html>
