<h2>Sign in</h2>

<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :class => "form-control", :url => session_path(resource_name)) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, , class: "form-control" %>
    <%= f.label :remember_me %>
  <% end -%>

  <%= f.submit "Sign in", class: 'btn btn-default' %>
<% end %>

<%= render "devise/shared/links" %>
