<div class="panel panel-default">
    <div class="panel-heading">
        <h3><%= value.title%> lost!</h3>
    </div>
    <div class="panel-body">
        <p><%= value.title%> lost on <%= value.date%> at around <%= value.time%>.</p>
        <h4>What's it like?</h4>
        <p><%= value.extra_info%></p>
        <h4>Where exactly was it left?</h4>
        <p><%= value.place%></p>
        <button align='middle' class='btn btn-default' onclick='contactSeeker()'>I have it!</button>
    </div>
</div>
