<div class="panel panel-default">
    <div class="panel-heading">
        <a id='closeBtnDiv' onclick='closeDynamicDiv()' class="glyphicon glyphicon-remove"></a>
        <h3><%= value.title%> found!</h3>
    </div>
    <div class="panel-body">
        <p><%= value.title%> found on <%= value.date%> at around <%= value.time%>.</p>
        <h4>What's it like?</h4>
        <p><%= value.extra_info%></p>
        <h4>Where exactly was it found?</h4>
        <p><%= value.place%></p>
        <button align='middle' class='btn btn-default' onclick='contactFounder()'>It's mine!</button>
    </div>
</div>
